---
layout: base.njk
---
{% for section in homepage.sections %}
  {% if section.visible %}
    {% if section.type == "hero" %}
      {% include "sections/hero.njk" %}
    {% elif section.type == "about" %}
      {% include "sections/about.njk" %}
    {% elif section.type == "services" %}
      {% include "sections/services.njk" %}
    {% elif section.type == "contact" %}
      {% include "sections/contact.njk" %}
    {% endif %}
  {% endif %}
{% endfor %}
